In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [5]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [6]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [7]:
df.dtypes

Area Code         int64
Area             object
Item Code         int64
Item             object
Element Code      int64
Element          object
Unit             object
Y2014           float64
Y2015           float64
Y2016           float64
Y2017           float64
Y2018           float64
dtype: object

In [8]:
df.shape

(60943, 12)

In [9]:
len(df)

60943

In [11]:
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [12]:
highest_sum = df[['Y2017', 'Area']].groupby('Area')['Y2017'].sum()

In [13]:
highest_sum

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
CÃ´te d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [14]:
highest_sum.max()

1483268.2300000011

In [15]:
sorted_sums = highest_sum.sort_values(ascending=True)  
seventh_min = sorted_sums.iloc[6]
area_name = sorted_sums.index[6]
print("7th Minimum value:", seventh_min)
print("Corresponding Area name:", area_name)

7th Minimum value: 19102.77
Corresponding Area name: Guinea-Bissau

In [17]:
highest_wine_2015 = df.loc[df['Item'] == 'Wine', ['Y2015', 'Item']].groupby('Item')['Y2015'].sum()
highest_wine_2015

Item
Wine    4251.81
Name: Y2015, dtype: float64

In [18]:
highest_wine_2017 = df.loc[df['Item'] == 'Wine', ['Y2017', 'Item']].groupby('Item')['Y2017'].sum()
highest_wine_2017

Item
Wine    4178.02
Name: Y2017, dtype: float64

In [19]:
highest_protein_2015 = df.loc[df['Item'] == 'Protein', ['Y2015', 'Item']].groupby('Item')['Y2015'].sum()
highest_protein_2015

Series([], Name: Y2015, dtype: float64)

In [20]:
highest_summ = df[['Y2017', 'Element']].groupby('Element')['Y2017'].sum()
highest_summ

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [21]:
years = ['Y2015', 'Y2016', 'Y2017', 'Y2018']
data_subset = df[years + ['Element']]
sum_by_element = data_subset.groupby('Element')[years].sum()
stock_variation = sum_by_element.max(axis=1)
stock_variation

Element
Domestic supply quantity                  2161192.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49345.13
Import Quantity                            294559.09
Losses                                     163902.00
Other uses (non-food)                       91645.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   37224.00
Seed                                        25263.14
Stock Variation                             54316.91
Total Population - Both sexes             1140605.00
Tourist consumption                           349.00
dtype: float64

In [22]:
max_stock_variation = stock_variation.max()
max_stock_variation_element = stock_variation.idxmax()

print("Max Stock Variation:", max_stock_variation)
print("Element with Max Stock Variation:", max_stock_variation_element)

Max Stock Variation: 2161192.1
Element with Max Stock Variation: Domestic supply quantity

In [24]:
percent = df.isnull().sum() * 100 / len(df)
missing_value = pd.DataFrame({'column_name': df.columns,
                                 'percent': percent})

In [25]:
missing_value

               column_name   percent
Area Code        Area Code  0.000000
Area                  Area  0.000000
Item Code        Item Code  0.000000
Item                  Item  0.000000
Element Code  Element Code  0.000000
Element            Element  0.000000
Unit                  Unit  0.000000
Y2014                Y2014  2.607354
Y2015                Y2015  2.540078
Y2016                Y2016  2.518747
Y2017                Y2017  2.471162
Y2018                Y2018  2.356300

In [27]:
df['Area'].nunique()

49

In [28]:
highest_processing_2017 = df.loc[df['Element'] == 'Processing', ['Y2017', 'Element']].groupby('Element')['Y2017'].sum()
highest_processing_2017

Element
Processing    292836.0
Name: Y2017, dtype: float64

In [29]:
years = ['Y2015', 'Y2016', 'Y2017', 'Y2018']
stock_variations = df.loc[df['Element'] == 'Stock Variation', years + ['Element']]
stock_variation_sum = stock_variations.groupby('Element')[years].sum()
max_year = stock_variation_sum.idxmax(axis=1)
print("Year with the maximum stock variation:", max_year)

Year with the maximum stock variation: Element
Stock Variation    Y2017
dtype: object